* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #8ba68b;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#homePage {
    width: 100%;
    height: 93vh;
    background-size: cover;
    background-position: center;
    background-image: url("image/home-page-img.png");
}

.navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 9999;
  background-color: #322413
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 25px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a#home {
  background-color: #6e750e;
  color: white;
}
/* 
input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 10px 15px 0px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
} */

.navbar a#search {
  float: center;
  font-size: 16px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 20px 15px 10px 20px;
  color: white;
}

.navbar a#search:hover {
  background-color: none;
  color: black;
}

.navbar .buttons {
    float: right;
}

.navbar a#login {
  
  background-color: #6e750e;
  color: white;
}

.navbar a#login:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

.notification {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 10px 16px;
  margin-right: 20px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: red;
  cursor: pointer;
}

.notification .badge {
  position: absolute;
  top: -5px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}

/* Flower Section */

#flowerSection {
  width: 80%;
  max-width: 1200px;
  margin: 30px auto;
  border-radius: 20px;
}

.flowerRow {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 50px 0 25px 0;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px green; 
}

.flowerText {
  width: 65%;
  padding: 40px 100px;
  display: inline-block;
}

.flowerText span {
  color: #e8a900;
  font-size: 30px;
  font-weight: bold;
}

.flowerText h2 {
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 15px;
  font-size: 32px;
  color: green;
}

.flowerText p {
  margin-top: 95px;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  margin: 20px 0;
  line-height: 1.7;
  font-size: 20px;
  color: #333;
}

.flowerImg {
  width: 40%;
}




.flowerImg img {
  height: 50vh;
  width: 25vw;
  display: block;
  object-fit: cover;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0 0 20px green; 
  transition: 0.5s ease;
}

.flowerImg img:hover {
  transform: scale(1.1);
}

.flowerText button {
  background-color: green;
  color: white;
  border: 1px solid green;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0 0 30px;
  font-size: 15px;
  padding: 12px 20px;
  box-shadow: 0 0 10px green; 
}

.flowerText button:hover {
  background-color: orange;
  color: white;
  border: 1px solid orange;
}

.flowerRow.reverse {
  display: flex;
  flex-direction: row-reverse;
}
/* 
@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
} */