body {
  background-color: #8ba68b;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  padding: 30px;
  overflow: hidden;
}

.gallery-item {
  height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  float: left;
  margin: 2px;
  margin-top: 25px;
  
}

.gallery-item img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

.caption {
  position: absolute;
  bottom: 10px;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  transition: 3s ease;
  opacity: 0;
  font-size: 25px;
  text-align: center;
}

.gallery-item:hover .caption {
  opacity: 1;
}

.caption .sunflower {
  color: rgb(251, 164, 3);
}

.caption .rose {
  color: rgb(232, 47, 47);
}

.caption .daisy {
  color: rgb(232, 124, 142);
}

.caption .hibiscus {
  color: rgb(229, 117, 6);
}

.caption .jasmin {
  color: rgb(245, 222, 179);
}

.caption .lily {
  color: rgb(211, 78, 78);
}

.caption .lotus {
  color: rgb(255, 192, 203);
}

.caption .orchid {
  color: rgb(212, 102, 212);
}

.caption .tulip {
  color: rgb(207, 124, 64);
}